/* width */
::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAVBAR - FOOTER */
.navbar{
  background:rgb(31, 31, 31, 0.7);
}
.fixed-bottom {
  height: 30px;
}
.search-input {
  padding-left: 10px;
  border: 1px solid rgb(200, 200, 200);
  background: transparent;
}
.search-input:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: none;
  outline: none;
  color: rgb(255, 255, 255);
}


.btn-add {
  border-radius: 0;
  color: rgb(200, 200, 200);
  padding: 5px;
  text-decoration: none;
  border: 1px solid rgb(200, 200, 200);
  transition: all ease 0.3s;
}
.btn-add:hover {
  color: rgb(32, 32, 32);
  background: rgb(255, 255, 255);
}
/* BODY */
/* .container {
} */
.page-title {
  text-decoration: underline;
}
.character-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  background: transparent;
  border-bottom: 2px solid black;
  transition: all ease 0.3s;
}
.card:hover {
  -webkit-box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.5);
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(14, 14, 14, 0.3) 50%,
    rgba(78, 78, 78, 0) 100%
  );
  
}
.overlay:hover {
  transition: 1s;
  background: none;
} */
.card-title {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.card-body {
  padding: 0 0 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.card-body-content {
  padding: 10px;
}
.card-subtitle {
  font-weight: bold;
}

/* CHARACTER DETAILS */
.character-details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.character-info-img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.form-floating {
  margin: 20px;
}
.form-control {
  color: rgb(41, 41, 41);
  border: 0;
  margin-left: 20px;
  background: transparent;
  border-bottom: 1px solid rgb(36, 36, 36);
}
.form-control:focus {
  color: rgb(214, 214, 214);
  box-shadow: none;
  background: transparent;
}
.btn-update,
.btn-delete,
.btn-create {
  border-radius: 0;
  margin: 20px;
  font-size: 20px;
  border: 1px solid black;
  transition: all ease 0.3s;
}
.btn-update:hover {
  color: white;
  border: 1px solid white;
}
.btn-delete:hover {
  color: white;
  border: 1px solid white;
}
.btn-create:hover {
  color: white;
  border: 1px solid white;
}

/* CONFIRM DIALOG */
.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
}
.custom-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #fff;

  background: linear-gradient(270deg, #ff5959, #ff9245, #ffe367);
  background-size: 600% 600%;
  -webkit-animation: ConfirmBG 12s ease infinite;
  -moz-animation: ConfirmBG 12s ease infinite;
  animation: ConfirmBG 12s ease infinite;
}

.custom-ui h1 {
  margin-top: 0;
}

.custom-ui button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
  transition: all ease 0.3s;
}
.custom-ui .confirm-no:hover {
  border: 1px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
}
.custom-ui .confirm-yes:hover {
  border: none;
  background-color: rgb(36, 36, 36);
}


@-webkit-keyframes ConfirmBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes ConfirmBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes ConfirmBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 404 NOT FOUND */

.page-not-found-container{
  width: 100%;
  height: 100%;
}
.page-not-found-title{
  font-weight: 900;
  font-size: 50vh;
}
.page-not-found-subtitle{
  font-weight: 900;
  font-size: 5vh;
}
.page-not-found-link{
  text-decoration: underline;
  color:black;
}
.page-not-found-link:hover{
  transition: 0.3s;
  color:white;
}